body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: #333333;
    transition: color 0.15s ease-in-out;
    text-decoration: none;
}

a:hover {
    color: #a9a9a9;
}

.neu-logo {
    margin: 0 auto 35px auto;
    width: 320px;
    max-width: 100%;
    display: block;
}

.login-form {
    width: 250px;
    margin: auto;
}

.form-fld {
    height: 52px;
    color: #b7b7b7;
    border: 1px solid #b7b7b7;
    background-color: #e8f0fe;
    padding: 13px 12px;
}

.form-fld-focus {
    color: #333333;
    border-color: #333333;
}

.form-element {
    margin-bottom: 20px;
}

.form-btn {
    height: 52px;
    font-size: 18px;
    background: #cc0000;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 13px 12px;
}

.form-btn:hover {
    background: #900600;
    color: #ffffff;
}
